@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.shadow-inner-custom {
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 40px 30px black;
}

@font-face {
    font-family: "tuskerGrotesk";
    src: url("../public/fonts/Tusker.Grotesk/TuskerGrotesk-6500Medium.ttf") format("truetype");
    
  }
  @font-face {
    font-family: "Carbona";
    src: url("../public/fonts/CarbonaTest-Regular.otf") format("opentype");
  }

  @font-face {
    font-family: "North Zone";
    src: url("../public/fonts/North_Zone.otf") format("opentype");
  }

  .font-NorthZone {
    font-family: "North Zone";
  }

  .font-Carbona {
    font-family: "Carbona";
  }
 
  @font-face {
    
    font-family: "NorthZone";
    src: url("../public/fonts/Carbona Test/North-Zone.otf") format("opentype");


  }
  @font-face {
    
    font-family: "CarbonaBlack";
    src: url("../public/fonts/CarbonaTest-BlackSlanted.otf") format("opentype");

  }
  @font-face {
    
    font-family: "CarbonaBold";
    src: url("../public/fonts/Carbona Test/CarbonaTest-Bold.otf") format("opentype");

  }